body {
  background-color: #010104;
  color: #ebe9fc;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.parallax {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.parallax__header {
  z-index: 2;
  padding: 4rem;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  display: flex;
  position: relative;
}

.parallax__visuals {
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 120%;
  position: absolute;
  top: 0;
  left: 0;
}

.parallax__black-line-overflow {
  z-index: 20;
  background-color: black;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.parallax__layers {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.parallax__layer-img {
  pointer-events: none;
  object-fit: cover;
  width: 100%;
  height: 117.5%;
  position: absolute;
  top: -17.5%;
  left: 0;
}

.parallax__layer-title {
  position: absolute;
  z-index: 10; 
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}


.parallax__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-align: center;
  color: #ebe9fc;
  font-size: clamp(2rem, 8vw, 5rem);
  position: relative;
  z-index: 10;
}


.parallax__fade {
  z-index: 30;
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.parallax__content {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
}

.osmo-icon-svg {
  width: 8em;
  position: relative;
}

.parallax__more-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  text-decoration: none;
}

.parallax__more-img {
  width: 160px;
  height: auto;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.parallax__more-img:hover {
  transform: scale(1.1);
}


.parallax__more-link:hover {
  transform: scale(1.05);
}

